#--------------------------------------------------------------------------
# If you want to change the container name, network name or
# the source code folder, you can create a DotEnv file
# and override the Docker Compose variables.
#
# You can run the following command in the terminal
# to create your DotEnv file.
#
# cp .env.example .env
#--------------------------------------------------------------------------

#--------------------------------------------------------------------------
# Container env
#--------------------------------------------------------------------------

# The project name. | default: neo4j
APP_NAME="neo4j"

#--------------------------------------------------------------------------
# Database (Neo4j) env
#--------------------------------------------------------------------------

# The Neo4j database container name. | default: neo4j_db
DB_CONTAINER_NAME="${APP_NAME}_db"

#--------------------------------------------------------------------------
# Network env
#--------------------------------------------------------------------------

# Map the database container exposed port to the host port. | default: 7474
DB_PORT=7474

# Map the database container exposed port to the host port. | default: 7687
DB_BOLT_PORT=7687

# The Docker network for the containers. | default: local_dbs_network
NETWORK_NAME="local_dbs_network"

#--------------------------------------------------------------------------
# Volume env
#--------------------------------------------------------------------------

# The database container data volume. | default: neo4j_db_data
DB_VOLUME_DATA_NAME="${DB_CONTAINER_NAME}_data"

# The database container logs volume. | default: neo4j_db_logs
DB_VOLUME_LOGS_NAME="${DB_CONTAINER_NAME}_data"
