#--------------------------------------------------------------------------
# ! The Docker Compose file is configured for local environments.
# ! Do not deploy this Docker Compose file in production environments.
#--------------------------------------------------------------------------

# Sets the project name.
name: localhost-databases

# The Docker services.
services:
  # The PostgreSQL database container.
  pgsql:
    # https://hub.docker.com/_/postgres
    image: postgres:latest
    container_name: "${DB_CONTAINER_NAME:-pgsql_db}"
    environment:
      POSTGRES_DB: "${DB_DATABASE:-local}"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    healthcheck:
      test: [
        "CMD", "pg_isready", "-q",
        "-d", "${DB_DATABASE:-local}",
        "-U", "${DB_USERNAME}"
      ]
      retries: 3
      timeout: 5s
    networks:
      - local
    # Map the database container exposed port to the host port.
    ports:
     - ${DB_PORT:-5432}:5432
    volumes:
      - pgsql_db_data:/var/lib/postgresql/data

# The Docker networks.
networks:
  local:
    driver: "bridge"
    name: ${NETWORK_NAME:-local_dbs_network}

# The Docker volumes.
volumes:
  pgsql_db_data:
    driver: "local"
    name: "${DB_VOLUME_DATA_NAME:-pgsql_db_data}"
